<.header>
  New Category
  <:subtitle>Create a new product category</:subtitle>
</.header>

<.category_form changeset={@changeset} action={~p"/categories"} />

<.back navigate={~p"/categories"}>Back to categories</.back>
